In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"

In [9]:
df1 = pd.read_html(url, header=0)[2]
df2 = pd.read_html(url, header=0)[3]
df3 = pd.read_html(url, header=0)[4]
df4 = pd.read_html(url, header=0)[5]

In [10]:
df1.shape, df2.shape, df3.shape, df4.shape

((59, 6), (60, 6), (67, 6), (63, 6))

In [11]:
df = pd.concat([df1, df2, df3, df4], ignore_index=True)
df.shape

(249, 6)

In [13]:
#get your API Key here: https://www.themoviedb.org/settings/api
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '5c3cf22386bbf2ebbad9d1059ba2aa9a'

In [14]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x): #pass in the title of the movies
    genres = []
    result = tmdb_movie.search(x) #the title will be searched in the tmdb_movie
    movie_id = result[0].id #we will match the "id" with the "title"
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key)) #we will get the result from the IMDb data
    data_json = response.json() #we will then convert it to a json file
    if data_json['genres']: #in the json file we will only need to extract the "genre"
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name']) #we will then add the "genre" to the empty genre list we created above
        return genre_str.join(genres)
    else:
        np.NaN # we will return the results but if we don't find anything we will consider it as a missing value

In [15]:
df["genres"] = df["Title"].map(lambda x: get_genre(str(x)))

In [17]:
df.columns

Index(['Opening', 'Opening.1', 'Title', 'Production company', 'Cast and crew',
       'Ref.', 'genres'],
      dtype='object')

In [18]:
df_2018 = df[['Title', 'Cast and crew', 'genres']]
df_2018

,Title,Cast and crew,genres
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Thriller
1,The Strange Ones,Christopher Radcliff (director/screenplay); La...,Thriller Drama
2,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery
3,Proud Mary,"Babak Najafi (director); John S. Newman, Chris...",Thriller Action Crime
4,Acts of Violence,Brett Donowho (director); Nicolas Aaron Mezzan...,Action Crime Thriller
...,...,...,...
244,Second Act,"Peter Segal (director); Justin Zackham, Elaine...",Romance Comedy
245,Holmes & Watson,Etan Cohen (director/screenplay); Will Ferrell...,Comedy Mystery Crime
246,Vice,Adam McKay (director/screenplay); Christian Ba...,Comedy Drama
247,On the Basis of Sex,Mimi Leder (director); Daniel Stiepleman (scre...,Drama History
248,Destroyer,"Karyn Kusama (director); Phil Hay, Matt Manfre...",Horror Thriller

In [20]:
print(df_2018["Cast and crew"][0])

Adam Robitel (director); Leigh Whannell (screenplay); Lin Shaye, Angus Sampson, Leigh Whannell, Spencer Locke, Caitlin Gerard, Bruce Davison