### Collaborative based

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
books = pd.read_csv("data/BX-Books.csv", sep=";", encoding="latin-1", on_bad_lines="skip")

C:\Users\Salus X Labs\AppData\Local\Temp\ipykernel_55120\1824163659.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("data/BX-Books.csv", sep=";", encoding="latin-1", on_bad_lines="skip")

In [8]:
books.shape

(271360, 8)

In [9]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [18]:
books= books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']]

In [20]:
books.columns, books.shape

(Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
        'Image-URL-L'],
       dtype='object'),
 (271360, 6))

In [23]:
books.rename(columns={
    "Book-Title" : "Title",
    "Book-Author" : "Auther",
    "Year-Of-Publication" : "Year",
    "Image-URL-L" : "Url"
}, inplace=True)

C:\Users\Salus X Labs\AppData\Local\Temp\ipykernel_55120\4192008453.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books.rename(columns={

In [24]:
books.shape, books.columns

((271360, 6),
 Index(['ISBN', 'Title', 'Auther', 'Year', 'Publisher', 'Url'], dtype='object'))

In [25]:
users = pd.read_csv("data/BX-Users.csv", sep=";", encoding="latin-1", on_bad_lines="skip")

In [27]:
users.shape, users.columns

((278858, 3), Index(['User-ID', 'Location', 'Age'], dtype='object'))

In [60]:
ratings = pd.read_csv("data/BX-Book-Ratings.csv", sep=";", encoding="latin-1", on_bad_lines="skip")

In [61]:
ratings.shape, ratings.columns

((1149780, 3), Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object'))

In [62]:
ratings.shape, books.shape, users.shape

((1149780, 3), (271360, 6), (278858, 3))

In [63]:
ratings["User-ID"].value_counts()

User-ID
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [64]:
ratings["User-ID"].unique().shape

(105283,)

In [65]:
x = ratings["User-ID"].value_counts() > 20
x

User-ID
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: count, Length: 105283, dtype: bool

In [66]:
x[x].shape

(7078,)

In [67]:
indexs = x[x].index
indexs

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       107594,  91838,  12692, 194699,  61296,  87820, 120579, 147385,  87333,
       252491],
      dtype='int64', name='User-ID', length=7078)

In [68]:
ratings = ratings[ratings["User-ID"].isin(indexs)]
ratings.shape

(883064, 3)

In [69]:
ratings["User-ID"].value_counts()

User-ID
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
251637       21
124488       21
60631        21
125514       21
165073       21
Name: count, Length: 7078, dtype: int64

In [73]:
books.head()

,ISBN,Title,Auther,Year,Publisher,Url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [72]:
rating_with_books = ratings.merge(books, on="ISBN", )
rating_with_books

,User-ID,ISBN,Book-Rating,Title,Auther,Year,Publisher,Url
0,276762,034544003X,0,Southampton Row (Charlotte &amp; Thomas Pitt N...,Anne Perry,2002,Ballantine Books,http://images.amazon.com/images/P/034544003X.0...
1,276762,0380000059,0,CLOUT,D. GIBBONS,2024,Avon,http://images.amazon.com/images/P/0380000059.0...
2,276762,0380711524,5,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...
3,276762,0451167317,0,The Dark Half,Stephen King,1994,Signet Book,http://images.amazon.com/images/P/0451167317.0...
4,276762,0451454952,0,House of the Sun (Shadowrun),Fanpro,2003,Fanpro,http://images.amazon.com/images/P/0451454952.0...
...,...,...,...,...,...,...,...,...
804525,276688,0836236688,10,Dilbert: Seven Years Of Highly Defective Peopl...,Scott Adams,1997,Andrews McMeel Publishing,http://images.amazon.com/images/P/0836236688.0...
804526,276688,0892966548,10,Killer Market: A Deborah Knott Mystery (Debora...,Margaret Maron,1997,Warner Books Inc,http://images.amazon.com/images/P/0892966548.0...
804527,276688,1551669315,6,The Third Wife,Jasmine Cresswell,2002,Mira,http://images.amazon.com/images/P/1551669315.0...
804528,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...
804529,276688,1580600506,0,The Fallen Man,Tony Hillerman,1996,HarperCollins,http://images.amazon.com/images/P/1580600506.0...

In [74]:
rating_with_books.shape

(804530, 8)

In [82]:
num_rating = rating_with_books.groupby('Title')['Book-Rating'].count().reset_index()
num_rating

                                                    Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
214318                   Ã?Â?berraschung am Valentinstag.            1
214319                                      Ã?Â?lpiraten.            1
214320                     Ã?Â?rger mit Produkt X. Roman.            3
214321                              Ã?Â?stlich der Berge.            2
214322                                  Ã?Â?thique en toc            2

[214323 rows x 2 columns]

In [93]:
num_rating.rename(columns={
    "Book-Rating" : "num_of_rating"
}, inplace=True)

In [94]:
num_rating

                                                    Title  num_of_rating
0        A Light in the Storm: The Civil War Diary of ...              4
1                                   Always Have Popsicles              1
2                    Apple Magic (The Collector's series)              1
3        Ask Lily (Young Women of Faith: Lily Series, ...              1
4        Beyond IBM: Leadership Marketing and Finance ...              1
...                                                   ...            ...
214318                   Ã?Â?berraschung am Valentinstag.              1
214319                                      Ã?Â?lpiraten.              1
214320                     Ã?Â?rger mit Produkt X. Roman.              3
214321                              Ã?Â?stlich der Berge.              2
214322                                  Ã?Â?thique en toc              2

[214323 rows x 2 columns]

In [100]:
final_rating = rating_with_books.merge(num_rating, on="Title")
final_rating.head()

,User-ID,ISBN,Book-Rating,Title,Auther,Year,Publisher,Url,num_of_rating
0,276762,034544003X,0,Southampton Row (Charlotte &amp; Thomas Pitt N...,Anne Perry,2002,Ballantine Books,http://images.amazon.com/images/P/034544003X.0...,13
1,276762,0380000059,0,CLOUT,D. GIBBONS,2024,Avon,http://images.amazon.com/images/P/0380000059.0...,1
2,276762,0380711524,5,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,41
3,276762,0451167317,0,The Dark Half,Stephen King,1994,Signet Book,http://images.amazon.com/images/P/0451167317.0...,169
4,276762,0451454952,0,House of the Sun (Shadowrun),Fanpro,2003,Fanpro,http://images.amazon.com/images/P/0451454952.0...,4

In [101]:
final_rating.shape

(804530, 9)

In [102]:
final_rating=final_rating[final_rating["num_of_rating"]>=20]
final_rating.shape

(298949, 9)

In [107]:
final_rating.isnull().value_counts()

User-ID  ISBN   Book-Rating  Title  Auther  Year   Publisher  Url    num_of_rating
False    False  False        False  False   False  False      False  False            298949
Name: count, dtype: int64

In [109]:
final_rating.drop_duplicates(["User-ID", "Title"], inplace=True)

In [110]:
final_rating.shape

(295071, 9)

In [111]:
final_rating.to_csv("data_preprocessed.csv",  index=False)